.pc-right-content-section {
    overflow: scroll;
}

.pc-content-info-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    align-items: center;
}

.pc-content-info-consumer-information {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 50px;
}

.pc-content-info-consumer-information--title {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 800;
}

.pc-content-info-consumer-information--text-value {
    font-size: 16px;
    padding-left: 15px;
}

.pc-content-info-consumer-information-button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#pc-content-info-consumer-information--save-change-btn {
    background: var(--background-alt-red);
    border: 1px solid transparent;
    width: 100%;
    height: 55px;
    padding-top: 8px;
    color: white;
    margin-right: 15px;
    border-radius: 10px;
}

#pc-content-info-consumer-information--save-change-btn:hover {
    background: transparent;
    border: 1px solid var(--background-alt-red);
    color: black;
    cursor: pointer;
    transition: 0.7s;
}

#pc-content-info-consumer-information--delete-account-btn {
    background: var(--background-alt-black);
    border: 1px solid transparent;
    width: 100%;
    height: 55px;
    padding-top: 8px;
    color: white;
    border-radius: 10px;
}

#pc-content-info-consumer-information--delete-account-btn:hover {
    background: transparent;
    border: 1px solid var(--background-alt-black);
    color: black;
    cursor: pointer;
    transition: 0.7s;
}

.pc-content-info-consumer-information--edit-info {
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    /* background-color: var(--background-alt-red); */
    top: 0;
    right: -10px;
}

.pc-content-info-consumer-information--edit-info::before {
   position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    background-image: url(../icon/edit.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pc-content-info-consumer-information--edit-info:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.pc-content-info-consumer-information--edit-info span {
    visibility: hidden;
}

.pc-content-info-consumer-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pc-content-info-consumer-photo--img-wrapper {
    margin-right: 35px;
    width: 100%;

}

.pc-content-info-consumer-photo--img-wrapper img {
    width: 100%;
    object-fit: cover;
}

#pc-content-info-consumer-photo--change-photo-btn {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 1px solid var(--background-alt-red);
    color: var(--border);
    cursor: pointer; 
    margin-bottom: 20px;
}

#pc-content-info-consumer-photo--delete-photo-btn {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 1px solid var(--background-alt-black);
    color: var(--border);
    cursor: pointer; 
    margin-bottom: 20px;
}

.pc-content-info-consumer-photo-inner button:hover{
    transform: scale(1.05);
    transition: 0.7s;
}