.login-title {
    margin-top: 0;
}

main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding: 100px 50px 100px 50px;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.background-image {
    position: absolute;
    content: '';
    background-image: url(../img/background-main.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 500px;
    z-index: -2;
    top: 0;
    left: 0;
}

.login-content {
    border-radius: 15px;
    background-color: rgba(238, 237, 237, 0.9);
    width: 750px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 15px;
}

.login-title {
    text-align: center;
    font-size: 22px;
    padding-top: 25px;
    text-transform: uppercase;
    letter-spacing: 10%;
}

#login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#login-form input {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 1px solid var(--border);
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 5px 15px 5px 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#login-form input:focus {
    outline: 2px solid var(--background-alt-red);
}

.login-form-remember-me-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#login-form-remember-me-checkbox {
    width: 35px !important;
    margin-bottom: 4px !important;
}

.login-form-personal-info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

#login-form-personal-info-checkbox {
    width: 35px !important;
    margin-bottom: 4px !important;
}

.personal-info-link {
    border-bottom: 1px solid var(--background-alt-red) ;
    text-decoration: dotted;
    font-style: italic;
    font-weight: 600;
    color: var(--background-alt-red);
}

#login-form-submit-btn {
    width: 235px;
    height: 55px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--background-alt-red);
    color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding-top: 8px;
    text-transform: uppercase;
    cursor: pointer;
}

#login-form-submit-btn:hover {
    border: 1px solid var(--background-alt-red);
    background: transparent;
    color: var(--background-alt-red);
    transition: 0.7s;
}

.login-content-buttons-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 35px;
}

.login-content-buttons-wrapper a {
    font-size: 14px;
    color: var(--background-alt-red);
}

