.popup-new-order {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: scroll;
    
}

.popup-new-order-wrapper {
    position: relative;
    background-color: rgba(240, 240, 240, 1);
    width: 750px;
    /* height: 80vh; */
    
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    padding: 30px;
}

.popup-label {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.popup-close-x {
    font-size: 36px;
    cursor: pointer;
}

.popup-close-x:hover {
    color: var(--background-alt-red);
    cursor: pointer;
}

.new-order-form-content-wrapper {
    display: flex;
    flex-direction: column;
}

#new-order-form input{
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    margin-bottom: 35px;
    background: transparent;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

#new-order-form input:focus{
    outline: 1px solid var(--background-alt-red);
    border-color: transparent;
}

.new-order-form-buttons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    padding-bottom: 35px;
}

#new-order-form button{
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    /* background: transparent; */
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 8px;
}

#new-order-form-close-form {
    background-color: var(--background-alt-black);
    color: white;
}

#new-order-form-close-form:hover {
    background: transparent;
    border-color: var(--background-alt-black);
    color: black;
}

#new-order-form-submit-form {
    background-color: var(--background-alt-red);
    color: white;
}

#new-order-form-submit-form:hover {
    background-color: transparent;
    border-color: var(--background-alt-red);
    color: black;
}

/* Модификаторы */

.disable-popup {
    display: none;
    transition: 0.7s;
}

/* Загрузка */

.logger-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: scroll;
}

.logger-inner {
    display: flex;
    font-size: 18px;
    width: 350px;
    height: 150px;
    background-color: white;
    margin: 0 auto;
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.logger {
    position: absolute;
    display: block;
    content: '';

}