/* ========================================
   Страница "Контакты"
   ======================================== */

@media screen and (max-width: 680px) {
    .bread-crumbs-search {
        padding: 15px 0 15px 0;
        gap: 10px;
    }

    .bread-crumbs-wrapper {
        font-size: 12px;
    }

    .contacts-about-us-title {
        font-size: 22px;
        line-height: 55px;
    }

    .contacts-about-us-info-list li {
        margin-bottom: 15px;
        font-size: 14px;
    }

    .contacts-about-us-info-list li span:first-child {
        font-weight: 800;
        font-size: 16px;
    }

    .contacts-about-us-wrapper {
        margin-bottom: 16px;
    }

    .feedback-label-title {
        font-size: 22px;
        line-height: 35px;
    }

    .feedback-label-text {
        line-height: 20px;
        margin-bottom: 25px;
        font-size: 14px;
    }

    .feedback-form-content-wrapper input {
        height: 35px;
        padding: 5px 10px;
        font-size: 14px;
    }

    #feedback-message-textarea {
        height: 100px;
        font-size: 14px;
        padding: 15px 15px 15px 15px;
    }

    .feedback-consent-personal-data-wrapper label {
        padding-left: 30px;
        font-size: 14px;
        margin-left: 0;
    }

    #feedback-consent-personal-data-checkbox {
        width: 15px;
        height: 15px;
        margin-right: 0;
        top: 0;
    }

    .feedback-form-submit-btn {
        width: 100%;
        height: 35px;
        border-radius: 10px;
        padding-top: 5px;
        font-size: 14px;
    }

    main {
        padding-bottom: 30px;
        }

    h2{
        font-weight: 600;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0%;
    }

    .rus-representatives-item {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .sng-representatives-item {
        margin-bottom: 10px;
        font-size: 12px;  
    }

}