/* ========================================
   Страница "Фасадные системы"
   ======================================== */

@media screen and (max-width: 680px) {
    .bread-crumbs-search {
        padding: 15px 0 15px 0;
        gap: 10px;
    }

    .bread-crumbs-wrapper {
        font-size: 12px;
    }

    main {
        padding: 15px;
    }

    .main-inner-wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        column-gap: 10px;
    }

    #type-facade-system {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .facade-menu-item p:first-child:hover {
        font-size: 12px;
    }

    .facade-menu-item p:nth-child(2) {
        font-size: 10px;
    }

    .facade-content-section {
        width: 100%;
    }

    .facade-content-section img {
        width: 100% !important;
    }

    .facade-content-section h2 {
        font-size: 18px !important;
    }

}