{% extends "base.html" %}
{% load static %}

{% block custom_css%}
    <link rel="stylesheet" href="{% static "css/facadeSys.css" %}">
{%endblock%}

{% block custom_main%}
    <div class="background-image"></div>
    <div class="main-wrapper">
        <section class="bread-crumbs-search">
            <div class="bread-crumbs-wrapper">
                <a href="{% url 'index' %}">
                    <span>Главная</span>
                </a>
                <span>></span>
                <a href="{% url 'facadeSystem' %}">
                    <span>Фасадные системы</span>
                </a>
                {% if bread_crumbs %}
                    {% for key, value in bread_crumbs.items %}
                        <span>></span>
                        <a href="{{value}}">
                            <span>{{key}}</span>
                        </a>  
                    {% endfor %}
                {% endif %}
            </div>
        </section>
        <div class="main-inner-wrapper">
            <section class="facade-menu-section">
                {% for item in menu_items %}
                    {% if item %}
                        <ul class="facade-menu-list"> 
                            <a class="facade-menu-item-link" href="/facade-system/{{item.facade_base_slug}}/">
                                {% if active_slug and active_slug == item.facade_base_slug %}
                                    <li id="type-facade-system" class="facade-menu-item active-nav-facade">{{item.facade_name}}</li>
                                {% else %}
                                    <li id="type-facade-system" class="facade-menu-item">{{item.facade_name}}</li>
                                {% endif %}
                            </a>
                            {% for sub_item in item.getAllFacadeSystem %}
                                {% if sub_item %}
                                    <li class="facade-menu-item">
                                        <a class="facade-menu-item-link" href="/facade-system/{{item.facade_base_slug}}/{{sub_item.fs_slug}}">
                                            {% if active_slug and active_slug == sub_item.fs_slug %}
                                                <p class="active-nav-facade">{{sub_item.fs_name}}</p>
                                            {% else %}
                                                <p>{{sub_item.fs_name}}</p>
                                            {% endif %}
                                        </a>
                                    
                                        <p>{{sub_item.fs_subtext}}</p>
                                    </li>
                                {% else %}
                                    <div class="nothing-data">Не найдено фасадных систем</div>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="nothing-data">Не найдено фасадных систем</div>
                    {% endif %}
                {% endfor %}
                <!-- <ul id="facade-steel-list" id="facade-aluminum-list" class="facade-menu-list">
                    <a class="facade-menu-item-link" href="">
                        <li id="type-facade-system" class="facade-menu-item">АЛЮМИНИЕВЫЕ ФАСАДНЫЕ СИСТЕМЫ</li>
                    </a>   
                    
                        <li class="facade-menu-item">
                            <a class="facade-menu-item-link" href=""><p>АЛЬТ-ФАСАД А/КП</p></a> 
                            <p>система крепления композитного материала</p>
                        </li>
                    
                    
                        <li class="facade-menu-item">
                            <a class="facade-menu-item-link" href=""><p>АЛЬТ-ФАСАД А/КГ</p></a> 
                            <p>система крепления керамогранита</p>
                        </li>
                    
                </ul> -->
            </section>
            <section class="facade-content-section">
                {% if page_content.fs_page_content %}
                    {{page_content.fs_page_content|safe}}
                {% elif page_content.facade_description %}
                    {{ page_content.facade_description|safe }}
                {% elif page_content.fs_description %}
                    {{ page_content.fs_description|safe }}
                {% endif %}
            </section>
        </div>
    </div>
{%endblock%}   

{%block custom_js%}
    <script src="{% static "js/facadeSys.js" %}"></script> 
{%endblock%}




        

    
