{% extends "base.html" %}
{% load static %}

{% block custom_css%}
    <link rel="stylesheet" href="{% static "css/news.css" %}">
{%endblock%}

{% block custom_css_media%}
    <link rel="stylesheet" href="{% static 'css/mediaCSS/media-news.css' %}">
{% endblock %}

{% block custom_main%}
    <div class="background-image"></div>
    <div class="main-wrapper">
        <section class="bread-crumbs-search">
            <div class="bread-crumbs-wrapper">
                <a href="{% url 'index' %}">
                    <span>Главная</span>
                </a>
                <span>></span>
                <a href="{% url 'news' %}">
                    <span>Новости</span>
                </a>
            </div>
            <!-- <div class="search-wrapper">
                <input type="search" name="production-search" id="production-search">
            </div> -->
        </section>
        <section class="production-main">
            <div class="production-main-left-side-wrapper">
                <h2 class="left-side-menu-title">{{title}}</h2>
                <div class="left-side-menu-inner-wrapper">
                    <ul class="left-side-menu-list">
                        {% if news %}
                            {% csrf_token %}
                            {% for news_item in news %}
                                {% if active_slug and active_slug == news_item.slug %}
                                    <a href='/news/{{news_item.slug}}' class="left-side-menu-link" data-slug="{{ news_item.slug }}"><li class="left-side-menu-item menu-active">{{news_item.news_title}}</li></a>
                                {% else %}
                                    <a href='/news/{{news_item.slug}}' class="left-side-menu-link" data-slug="{{ news_item.slug }}"><li class="left-side-menu-item">{{news_item.news_title}}</li></a>
                                {% endif %}
                            {% endfor %}
                            {% comment %} <button class="get-next-news" type="button">Загрузить другие новости</button> {% endcomment %}
                        {% else %}
                            <p class="nothing-data">Не удалось загрузить новости...</a>
                        {% endif %}

                        
                        
                    </ul>
                </div>
            </div>
            <div class="news-content-right-side-wrapper">
                <article class="news-article">
                    {% if active_slug %}
                        {% for news in news_active%}
                           <h2 class="news-article-title">{{news.news_title}}</h2>
                            <div class="news-article-date-info">{{news.created_at}}</div>
                            <div class="news-content">
                                {{news.news_text|safe}}
                            </div>
                        {% endfor %}
                    {% else %}
                           <h2 class="news-article-title">Просмотр новостей</h2> 
                           <div class="news-content">
                                Выберете новость в навигационном меню слева
                            </div>
                    {% endif %}
                </article>    
                {% comment %} <div class="new-content-slider-wrapper"></div> {% endcomment %}
            </div>
        </section>
    </div>
{%endblock%}   

{%block custom_js%}
    <script src="{% static "js/news.js" %}"></script> 
{%endblock%}




        

    
