<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Альтернатива</title>
</head>
<body>
    <header>
        <div class="main-wrapper">
            <div class="header-wrapper">
                <div class="header-logo">
                    <a href="../tempates/main.html">
                        <img src="../static/icon/logo.png" alt="Альтернатива. Логотип">
                    </a>
                </div>
                <nav class="header-nav-menu">
                    <ul class="nav-menu-list">
                        <li class="nav-menu-item">
                            <a href="../tempates/production.html">Продукция</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../tempates/about.html">О компании</a>
                        </li>
                       
                        <li class="nav-menu-item">
                            <a href="../tempates/portfolio.html">Портфолио</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../tempates/services.html">Технологии</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../tempates/job.html">Вакансии</a>
                        </li>
                        <li class="nav-menu-item">
                            <a href="../tempates/contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>          
                <div class="header-social">
                    <ul class="social-list">
                        <a class="social-item-link" href="tel:+73519162144">
                            <li class="social-call-me"> 
                            </li>    
                        </a>
                        <a class="social-item-link" href="mailto:">
                            <li class="social-item social-email">
                                
                            </li>    
                        </a>
                        <a class="social-item-link" href="">
                            <li class="social-item social-youtube"> 
                                
                            </li>    
                        </a>
                        <a class="social-item-link" href="">
                            <li class="social-item social-vk"> 
                                
                            </li>    
                        </a> 
                    </ul>
                </div>
                <div class="header-personal-cabinet">
                    <a href="../tempates/login.html" class="personal-cabinet-btn">Войти</a>
                </div>    
            </div>
        </div>
    </header>
    <main>
        <div class="background-image"></div>
        <section class="login-content">
            <h2 class="login-title">Смена пароля</h2>
            <form id="login-form" action="" method="post">
                <input name="login-form-email" id="login-form-email-input" type="email" placeholder="Электронная почта">
                <div class="remember-pass-text">
                    Забыли паполь? Укажите свой email и мы отправим инструкцию по его восстановлению
                </div>
                <button id="login-form-submit-btn" type="submit">Отправить</button>
            </form>
            <div class="login-content-buttons-wrapper">
                <a class="login-content-remember-password" href="../tempates/login.html">Вход</a>
                <a class="login-content-register" href="../tempates/register.html">Регистрация</a>
            </div>
        </section>
    </main>
     <footer>
        <div class="main-wrapper">
            <section class="footer-logo-contact">
                <div class="footer-logo-contact--border-top"></div>
                <div class="footer-logo">
                    <a href=""><img src="../static/icon/logo.png" alt="Альтернатива. Логотип"></a>
                </div>
                <div class="footer-contact-wrapper">
                    <div class="footer-contact-phone"><a href="tel:+73519162144">+7 (35191) 6-21-44</a></div>
                    <div class="footer-contact-social-wrapper">
                        <a href="mailto:">
                            <div class="footer-contact-social social-email"><span>почта</span></div>
                        </a>
                        <a href="">
                            <div class="footer-contact-social social-youtube"><span>yotube</span></div>
                        </a>
                        <a href="">
                            <div class="footer-contact-social social-vk"><span>vkontakte</span></div>
                        </a>
                       
                    </div>
                </div>
                <div class="footer-logo-contact--border-bottom"></div>
            </section>
            <section class="footer-menu-wrapper">
                <div class="footer-menu-company-inner">
                    <div class="footer-menu-title">Компания</div>
                    <ul class="footer-menu-list">
                        <a href="../tempates/about.html">
                            <li class="footer-menu-item">О компании</li>    
                        </a>
                        <a href="../tempates/rewerds.html">
                            <li class="footer-menu-item">Награды</li>
                        </a>
                        <a href="../tempates/job.html">
                            <li class="footer-menu-item">Вакансии</li>
                        </a>
                        <a href="../tempates/articles.html">
                            <li class="footer-menu-item">Статьи</li>
                        </a>
                        <a href="../tempates/news.html"> 
                            <li class="footer-menu-item">Новости</li>
                        </a>
                        <a href="../tempates/contacts.html">
                            <li class="footer-menu-item">Контакты</li>
                        </a>
                    </ul>   
                </div>
                <div class="footer-menu-product-inner">
                    <div class="footer-menu-title">Продукция</div>
                    <ul class="footer-menu-list">
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Кляммеры</li>
                        </a>
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Фасадные кронштейны</li>
                        </a>
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Фасадные профили</li>
                        </a>
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Корзины для кондиционеров</li>
                        </a>
                    </ul>  
                </div>
                <div class="footer-menu-complete-task-inner">
                    <div class="footer-menu-title">Готовые решения</div>
                    <ul class="footer-menu-list">
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Фасадные системы "Альфа-фасад"</li>
                        </a>
                        <a href="../tempates/production.html">
                            <li class="footer-menu-item">Алюминиевые фасадные решения</li>
                        </a>
                        <a href="../tempates/calculator.html">
                            <li class="footer-menu-item">Калькулятор</li>
                        </a>
                    </ul>    
                </div>
                <div class="footer-menu-wehere-pay-inner">
                    <div class="footer-menu-title">Где купить</div>
                    <ul class="footer-menu-list">
                        <a href="../tempates/payment.html">
                            <li class="footer-menu-item">Где купить оптом</li>
                        </a>
                    </ul>    
                </div>
                <div class="footer-menu-for-partner-inner">
                    <div class="footer-menu-title">Для партнеров</div>
                    <ul class="footer-menu-list">
                        <a href="../tempates/sertificates.html">
                            <li class="footer-menu-item">Сертификаты соответствия</li>
                        </a>
                        <a href="../tempates/documents.html">
                            <li class="footer-menu-item">Технические свидетельства</li>
                        </a>
                        <a href="link-to-download">
                            <li class="footer-menu-item">Каталог</li>
                        </a>
                    </ul>    
                </div>
            </section>
            <section class="copyright">© 2025, ООО "Альтернатива". Design by Mizina A. Web development by Nenakhov M.</section>
        </div>
    </footer> 
    <script src="../static/js/jquery-3.7.1.min.js"></script> 
    <script src="../static/js/login.js"></script> 
</body>
</html>