main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    /* padding-bottom: 190px; */
}

h2 {
    margin-top: 0;
    font-size: 30px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 700px;
    z-index: -2;
    top: 0;
    left: 0;

}

.bread-crumbs-search {
    padding-bottom: 30px;
}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.production-main {
    display: grid;
    grid-template-columns: 2fr 5fr;
    column-gap: 60px;
}

.left-side-menu-inner-wrapper {
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding-bottom: 15px;
    margin-bottom: 30px;
    padding-right: 15px;
    min-height: 350px;
}

.left-side-menu-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: 8%;
}

.left-side-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start; 
}

.left-side-menu-item {
    width: 100%;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 4%;
    padding: 14px 0;
    cursor: pointer;
    transition: 0.7s;
}

.left-side-menu-item:hover {
    color: var(--background-alt-red);
    transition: 0.7s;
}

.production-main-right-side-wrapper {
    padding: 40px;
    background-color: #D9D9D9;
}

.news-article {
    padding-top: 60px;
}

.get-next-article {
    font-size: 14px;
    font-style: italic;
    color: var(--border);
    border: none;
    background: transparent;
    margin-top: 15px;
}

.get-next-article:hover {
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.news-article-date-info {
    margin-bottom: 30px;
}

.news-article span{
    display: block;
    margin-bottom: 10px;
}

/* модификаторы */
.menu-active {
    color: var(--background-alt-red);
}