.bread-crumbs-search {
    border-bottom: 1px solid var(--border);
}

main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding-bottom: 190px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    z-index: -2;
    top: 0;
    left: 0;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.contacts-about-us-wrapper {
    margin-bottom: 30px;
    border-bottom: 1px solid var(--border);
}

.contacts-about-us-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 80px;
    letter-spacing: 0%;
}

.contacts-about-us-info-list {
    max-width: 500px;
}

.contacts-about-us-info-list li {
    margin-bottom: 35px;
}


.contacts-about-us-info-list li span:first-child {
    font-weight: 800;
    font-size: 18px;
}

/* Представительства */

h2{
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 80px;
    letter-spacing: 0%;
}

.rus-representatives-item {
    margin-bottom: 15px;
    font-size: 16px;
}

.sng-representatives-item {
    margin-bottom: 15px;
    font-size: 16px;  
}

/* Форма обратной связи */

#feedback-form {
    max-width: 1000px;
}

.feedback-label-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 80px;
    letter-spacing: 0%;
}

.feedback-label-text {
    max-width: 500px;
    line-height: 35px;
    margin-bottom: 45px;
}

.feedback-form-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 40px;
    margin-bottom: 35px;
}

.feedback-form-content-wrapper input {
    height: 60px;
    background: transparent;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    color: black;
}

.feedback-form-content-wrapper input:focus, textarea:focus {
    outline: 2px solid var(--background-alt-red);
}

#feedback-message-textarea {
    height: 300px;
    resize: none;
    background: transparent;
    font-size: 18px;
    padding: 30px 15px 15px 15px;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.feedback-consent-personal-data-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#feedback-consent-personal-data-checkbox {
    position: absolute;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    top: -11px;
}

.feedback-consent-personal-data-wrapper label {
    padding-left: 35px;
    font-size: 18px;
    margin-left: 15px;
}

.feedback-form-submit-btn {
    width: 360px;
    height: 100px;
    border-radius: 16px;
    background: #9F0000;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
}

.feedback-form-submit-btn:hover {
    background: transparent;
    color: black;
    border: 1px solid #9F0000;
    transition: 0.7s;
}

/* Модальное окно подтверждения отправки проекта */

.modal-success {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.success_send_form {
    width: 50vw;
    height: max-content;
    background: white;
    margin: 0 auto;
    margin-top: 150px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

.modal-label {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    
}

.close-button-modal {
    font-size: 22px;
    font-weight: 600;
}

.close-button-modal:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.7s;
}

.success_send_form p {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 18px;
}
