main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding: 50px 50px 100px 50px;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bread-crumbs-search {
    padding: 0;
    padding-bottom: 50px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 500px;
    z-index: -2;
    top: 0;
    left: 0;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 32px;
}

h3 {
    margin: 0;
    font-size: 28px;
    border-bottom: 1px solid var(--border);
}

h4 {
    margin: 0;
    font-size: 24px;
}

.main-inner-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
}

.facade-menu-list:first-child{
    margin-bottom: 50px;
}

#type-facade-system {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 20px;
}

#type-facade-system:hover {
    color: var(--background-alt-red);
    cursor: pointer;
    transition: 0.7s;
}


.facade-menu-item p:first-child{
    text-transform: uppercase;
    color: var(--border);
    margin-bottom: 5px;
    font-weight: 600;
}

.facade-menu-item p:nth-child(2){
    text-transform: lowercase;
    color: var(--border);
    margin-bottom: 5px;
    font-size: 12px;
}

.facade-menu-item p:first-child:hover {
    color: var(--background-alt-red);
    font-weight: 800;
    cursor: pointer;
    transition: 0.7s;
}

.facade-menu-item {
    margin-bottom: 15px;
}

.facade-menu-item:nth-child(n+2) {
    padding-left: 25px;
}

.active-nav-facade {
    color: var(--background-alt-red) !important;
    font-weight: 800;  
}