.pc-right-content-section-title {
    font-size: 28px;
    margin-bottom: 25px;
}

.content-my-order-list {
    width: 100%;
    box-sizing: border-box;
    max-height: 85vh;
    overflow: scroll;
}

.my-order-item-title-list {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.content-my-order-item {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border); 
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}