main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding: 50px 50px 50px 50px;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.title-text {
    padding-left: 15px;
    font-size: 50px;
    margin-top: 0;
}

.portfolio-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding: 15px;
}

.portfolio-gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
}

.portfolio-gallery-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.portfolio-gallery-item-img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}


.portfolio-gallery-item-text {
    position: absolute;
    content: '';
    /* width: 100%;
    height: 100%; */
    top: 138px;
    left: 0;
    right: 0;
    color: white;
    text-align: center;
    font-size: 24px;
}

.portfolio-gallery-item-text:hover {
    color: var(--background-alt-red);
    cursor: pointer;
}


/* POPUP галерея */

.popup-gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0 ;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: auto;
}

.popup-gallery-wrapper {
    width: 80%;
    height: 750px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    
}