main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding-bottom: 190px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    width: 100%;
    height: 100%;
    z-index: -2;
    top: 0;
    left: 0;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}


.production-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 60px;
}

.left-side-menu-title {
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 8%;
}

.left-side-menu-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start; 
}

.left-side-menu-item {
    width: 100%;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 4%;
    border-bottom: 1px solid #737373;
    padding: 14px 0;
    cursor: pointer;
    transition: 0.7s;
}

.left-side-menu-item:hover {
    color: var(--background-alt-red);
    transition: 0.7s;
}

.left-side-menu-item:first-child {
    border-top: 1px solid #737373;
}

.production-main-right-side-wrapper {
    padding: 40px;
    background-color: #D9D9D9;
}

.right-side-cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    background-color: #FFFFFF66;
    padding: 35px;
}

.card-item-image-block-wrapper {
    width: 100%;
    margin-bottom: 40px;
}

.card-item img {
    width: 100%;
    object-fit: cover;
}

.card-item-text-block-wrapper {
    font-size: 20px;
}

.card-item-text-block-wrapper a:hover {
    cursor: pointer;
    color: var(--background-alt-red);
    transition: 0.7s;
}



/* модификаторы */
.menu-active {
    color: var(--background-alt-red);
}