main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding: 15px 30px 0 30px;
    /* padding-bottom: 190px; */
}

h2 {
    margin-top: 0;
    font-size: 30px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 700px;
    z-index: -2;
    top: 0;
    left: 0;

}

.bread-crumbs-search {
    padding-bottom: 30px;
}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.rewards-content-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: flex-start;
    padding-bottom: 30px;
}

.reward-item {
    width: 350px;
    padding: 15px;
    border: 1px solid var(--border);
    background: transparent;
    border-radius: 5px;
    margin: 0 15px 15px 0;
}

.reward-item-img {
    width: 100%;
    height: 350px;
    object-fit: contain;
    margin-bottom: 15px;
}

.reward-item-text {
    font-size: 18px;
    padding-bottom: 15px;
    text-align: center;
}