main {
    position: relative;
    background:   var(--background-gradient-section);
    z-index: 1;
    padding: 50px 50px 100px 50px;

}

main::before {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.05) inset;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.bread-crumbs-search {
    padding: 0;
    padding-bottom: 50px;
}

.background-image {
    position: absolute;
    content: '';
    background-image: url(../content/img/background-main.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-height: 500px;
    z-index: -2;
    top: 0;
    left: 0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
    border-bottom: 1px solid var(--border);
}

h4 {
    font-size: 24px;
}

main li {
    list-style: disc;
    list-style-position:inside;
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 16px;
    text-indent: 5%;
    font-weight: 600;
}

.services-bim-section span, .services-digital-services-section span {
    display: block;
    font-size: 16px;
    letter-spacing: 3%;
    line-height: 110%;
    text-indent: 5%;
}   